@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: black;
  --text-black-700: grey;
  --skin-color: #00BB;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before, ::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
}

.hidden {
  display: none !important;
}

.main__content {
  padding-left: 270px;
}

.padd__15 {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.section__title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section__title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.section__title h2::before {
  content: '';
  height: 4px;
  width: 50px;
  background-color:var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}

.section__title h2::after {
  content: '';
  height: 4px;
  width: 25px;
  background-color:var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--skin-color);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.shadow__dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* Aside */

.aside {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}

.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}

.aside .logo a span {
  font-family: 'Clicker Script', cursive;
  font-size: 40px;
}

.aside .logo a::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}

.aside .logo a::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}

 .nav__toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 20px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
}

 .nav__toggler span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display:  inline-block;
  position: relative;
}

.nav__toggler span::before {
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}

 .nav__toggler span::after {
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}

 .aside .close {
  position: absolute;
   bottom: 10px;
   left: 20px;
   background-color: var(--skin-color);
   padding: 5px 10px;
   color: white;
   border-radius: 10px;
   cursor: pointer;
   display: none;
  }

 .aside .close i {
   font-size: 25px;
  }

.aside .nav {
  margin-top: 50px;
}

.aside .nav li {
  margin-bottom: 20px;
  display: block;
}

.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
}

.aside .nav li a.active {
  color: var(--skin-color);
}

.aside .nav li a i {
  margin-right: 15px;
}

/* Home */

.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}

.home .home__info {
  flex: 0 0 60%;
  max-width: 60%;
}

h3.hello {
  font-size: 28px;
  margin: 15px 0;
}

h3.hello span {
  font-family: 'Clicker Script', cursive;
  font-size: 30px;
  font-weight: 700;
  color: var(--skin-color);
}

h3.my__profession {
  font-size: 30px;
  margin: 15px 0;
}

.typing {
  color: var(--skin-color);
}

.home__info p {
  margin-bottom: 50px;
  font-size: 20px;
  color: var(--text-black-700);
}

.home .home__img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}

.home__img::before {
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  left: 20px;
  top: -40px;
}

.home__img::after {
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right: 20px;
  bottom: -40px;
}

.home .home__img img {
  margin: auto;
  border-radius: 5px;
  height: 400px;
}

/* About */

.about .about__content  {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about__content .about__text {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about__content .about__text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about__content .about__text h3 span {
  color: var(--skin-color);
}

.about .about__content .about__text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}

.about .about__content .personal__info {
  flex:  0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}

.about .about__content .personal__info .info__item {
  flex: 0 0 50%;
  max-width: 50%;
} 

.about .about__content .personal__info .info__item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
} 

.about .about__content .personal__info .info__item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}

.about .about__content .personal__info .buttons {
  margin-top: 30px;
}

.about .about__content .personal__info .buttons .btn {
  margin-right: 15px;
  margin-top: 10px;
}

.about .about__content .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}

.about .about__content .skills .skill__item {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about__content .skills .skill__item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-900);
  text-transform: capitalize;
}

.about .about__content .skills .skill__item .progress {
  background: var(--bg-black-50);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}

.about .about__content .skills .skill__item {
  margin-bottom: 25px;
}

.about .about__content .skills .skill__item .progress .progress__in {
  position: absolute;
  left:0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--skin-color)
}

.about .about__content .skills .skill__item .skill__percent {
  position: absolute;
  right: 0;
  color: var(--text-black-900);
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}

.about .about__content .education, .about .about__content .experience  {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}

.about .about__content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about__content .timeline__box {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about__content .timeline {
  background: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.about .about__content .timeline .timeline__item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}

.about .about__content .timeline .timeline__item:last-child {
  padding-bottom: 0;
}

.about .about__content .timeline .timeline__item::before {
  content: '';
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background: var(--skin-color);
}

.about .about__content .timeline .circle__dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--skin-color);
}

.about .about__content .timeline .timeline__date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-700);
}

.about .about__content .timeline .timeline__date .fa {
  margin-right: 5px;
}

.about .about__content .timeline .timeline__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}

.about .about__content .timeline .timeline__text {
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  color: var(--text-black-700);
}



.user__section {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  background: var(--skin-color);
  margin-top:-50px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.user__section h2 {
  color: white;
}

.user__card {
  width: 350px;
  max-width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: var(--bg-black-100);
  border-radius: 20px;
}


.user__card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user__card p {
  margin-top: 5px;
  font-size: 18px;
  color: var(--text-black-700);
  font-weight: 700;
  font-family: 'Clicker Script', cursive;
}

.user__card p span {
  font-size: 16px;
  color: var(--text-black-100);
  font-weight: 500;
  font-family: 'Poppins', cursive;
}

.pagination {
  width: 50%;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 15px auto;
  padding-bottom: 30px;
}

.pagination .pages__btns {
  margin: 0 5px;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid var(--bg-black-50);
  background: var(--text-black-700);
  color: white;
  border-radius: 40px;
  cursor: pointer;
}

.pagination .active__page {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid var(--bg-black-50);
  background: var(--skin-color);
  color: white;
  border-radius: 40px;
  cursor: pointer;
}

.form {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  margin-top: -70px;
  padding: 40px 20px;
}

.short__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.short__input input {
  width: 48%;
}

input, textarea {
  border: 2px solid var(--skin-color);
  width: 100%;
  color: var(--text-black-700);
   background-color: transparent;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 40px;
}

input:focus, textarea:focus {
  background: white;
  color: var(--text-black-700);
}




textarea {
  height: 200px;
  resize: none;
}

input::placeholder, textarea::placeholder {
  font-weight: 700;
  font-size: 18px;
  font-family: 'Clicker Script', cursive;
}

.wrapper {
  /* height: 100vh; */
  width: 90%;
  padding-bottom: 50px;
  margin: 0 auto;
  margin-top: -50px;
}

.wrapper h2 {
  text-align: center;
  color: var(--skin-color);
  margin-bottom: 20px;
  padding: 10px;
  letter-spacing: 10px;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Clicker Script', cursive;

}

.accordion {
  width: 100%;
}

.item {
  background: var(--bg-black-100);
  margin-bottom: 25px;
  padding: 10px 20px;
  box-shadow: 5px 10px 5px var(--bg-black-50);
  border-radius: 10px;
}

.question {
  color: var(--skin-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 0px;
}

.question h1 {
  font-size: 14px;
}

.question span {
  font-size: 10px;
}

.answer {
  color: var(--text-black-700);
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.answer.show{
  border-top: 1px solid var(--skin-color);
  height: auto;
  padding: 10px 20px;
  color: var(--text-black-900);
  font-size: 14px;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.pageNot__found{
  margin: 0 auto;
  margin-top: -60px;
  max-width: 80%;
  padding-bottom: 40px;
}


.pageNot__found img{
  width: 100%;
}

.pageNot__foundInfo {
  background-image: url('./images/page404.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  display: grid;
  place-items: center;
}

.pageNot__foundInfo h2 {
  background: var(--skin-color);
  padding: 10px;
  color: white;
  letter-spacing: 15px;
  margin-top: 70px;
}

.err {
  display: grid;
  place-items: center;
  font-size: 40px;
  padding-top: 200px;
}

@media (max-width: 1199px) {
   
}

@media (max-width: 991px) {
  .aside {
    left: -270px;
  }

  .main__content {
    padding-left: 0;
  }
  .about .about__content .personal__info .info__item p span {
    display: block;
    margin-left: 0;
  }
  
  .services .wrapper {
    width: 50%;
  }

  .form {
    width: 100%;
  }

  .about .about__content .education, .about .about__content .experience{
    flex: 0 0 100%;
    max-width: 100%;
  }

}

@media (max-width: 767px) {
  .form, .wrapper, .about .about__content .skills, .about .about__content .personal__info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .short__input {
  flex-direction: column;
}

.short__input input {
  width: 100%;
}
input, textarea {
  margin-bottom: 25px;
}

.aside{
  left: -270px;
  transition: all 0.3s ease;
}

  .sidebar__off {
    left: 0px;
  }

  .aside .close {
    display: inline-block;
  }

.main__content {
  padding-left: 0;
}

.about .about__content .personal__info .info__item p span {
  display: block;
  margin-left: 0;
}

.home .home__img {
  display: none;
}

.home .home__info {
  flex: 0 0 100%;
  max-width: 100%;
}

.nav__toggler {
    display: flex;
    flex-direction: columns;
    align-items: center;
    justify-content: center;
  }

  .user__section {
  flex-direction: column;
}

.user__card {
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}

  .pagination {
  width: 80%;
    margin: 15px auto;
}
}